* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:
    radial-gradient(circle at top left, #4b7cff, transparent 40%),
    radial-gradient(circle at bottom right, #8b5cff, transparent 40%),
    #080808;
}


/* BOOT SCREEN */

#boot {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


/* FLEX LOGO */

.logo {
    font-size: 80px;
    font-weight: 800;

    background: rgba(255,255,255,0.15);
    padding: 25px 50px;

    border-radius: 35px;

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.3);

    box-shadow:
    0 0 40px rgba(255,255,255,0.2);

    animation: glow 2s infinite alternate;
}


.version {
    margin-top: 20px;
    font-size: 25px;
    opacity: 0.8;
}


/* LOADING */

.loading {
    margin-top: 50px;

    width: 300px;
    height: 8px;

    background: rgba(255,255,255,0.2);

    border-radius: 20px;

    overflow: hidden;
}


.bar {

    height: 100%;
    width: 0%;

    background: white;

    border-radius: 20px;

    animation: load 3s forwards;

}


/* DESKTOP */

#desktop {

    display:none;

    width:100%;
    height:100vh;

    color:white;

    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    135deg,
    #111,
    #283593
    );

}



/* ANIMATIONS */


@keyframes load {

    from {
        width:0%;
    }

    to {
        width:100%;
    }

}


@keyframes glow {

    from {
        transform:scale(1);
    }

    to {
        transform:scale(1.05);
    }

}

/* DESKTOP ICONS */


.icons {

    position:absolute;

    top:60px;
    left:50px;

    display:grid;

    gap:30px;

}



.app {

    width:100px;
    height:100px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;


    font-size:35px;
    color:white;


    background:
    rgba(255,255,255,0.12);


    backdrop-filter:blur(20px);


    border-radius:25px;


    border:1px solid rgba(255,255,255,0.25);


    cursor:pointer;


    transition:.3s;

}



.app span {

    font-size:14px;

    margin-top:8px;

}



.app:hover {

    transform:scale(1.1);

}



/* TASKBAR */


.taskbar {

    position:absolute;

    bottom:20px;

    left:50%;

    transform:translateX(-50%);


    width:80%;

    height:70px;


    background:
    rgba(255,255,255,0.15);


    backdrop-filter:blur(25px);


    border-radius:30px;


    display:flex;

    justify-content:space-between;

    align-items:center;


    padding:20px;


}



.flex-btn {

    background:none;

    border:none;

    color:white;

    font-size:20px;

    cursor:pointer;

}



.time {

    color:white;

    font-size:18px;

}

/* FLEX MENU */


#flexMenu {

    position:absolute;

    bottom:100px;

    left:50%;

    transform:translateX(-50%) scale(0.8);


    width:350px;

    padding:25px;


    background:
    rgba(255,255,255,0.15);


    backdrop-filter:blur(30px);


    border-radius:35px;


    color:white;


    opacity:0;

    pointer-events:none;


    transition:.3s;


    border:1px solid rgba(255,255,255,.25);

}



#flexMenu.active {

    opacity:1;

    transform:
    translateX(-50%)
    scale(1);

    pointer-events:auto;

}



#flexMenu input {

    width:100%;

    padding:12px;

    margin:20px 0;


    border:none;

    outline:none;


    border-radius:20px;


    background:
    rgba(255,255,255,.2);


    color:white;

}



.menu-apps div {


    padding:15px;


    border-radius:15px;


    cursor:pointer;


}



.menu-apps div:hover {


    background:
    rgba(255,255,255,.2);


}

#deviceCenter {

    position:absolute;

    top:40px;
    right:40px;

    width:280px;

    padding:25px;


    background:
    rgba(255,255,255,.15);


    backdrop-filter:blur(25px);


    border-radius:30px;


    color:white;

}



#deviceCenter h2 {

    margin-bottom:20px;

}



.info {

    padding:10px 0;

    font-size:16px;

}

#browserWindow {

    display:none;

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);


    width:80%;
    height:75%;


    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(30px);


    border-radius:30px;


    overflow:hidden;


    border:1px solid rgba(255,255,255,0.25);

}



.browser-top {

    height:55px;


    display:flex;

    justify-content:space-between;

    align-items:center;


    padding:15px;


    color:white;

    font-size:18px;

}



.browser-top button {

    border:none;

    border-radius:15px;

    cursor:pointer;

}



#webpage {

    width:100%;

    height:calc(100% - 55px);

    border:none;

}
